body{
	background:#333;
	padding:0px;
	margin:0px;
	border:0px;
}
#main{
	background:#CCF;
	position:absolute;
	top:60px;
	width:100%;
	height:600px;
}
#header{
	padding:5px;
	font-size:32px;
}

a{
	text-decoration:none;
	cursor:default;
	color:blue;
}
a:hover{
	color:#69C;
}

#heading a{
	float:left;
	padding: 5px;
	margin-left:5px;
	color:#CCF;
	font-weight:700;
}
#heading a:hover{
	color:#6F6F97;
}
#heading a:active{
	opacity:0.3;
}
#switch a{
	float:right;
	padding:5px;
	margin-top:10px;
	margin-right:10px;
	font-size:22px;
	color:#CCF;
}
#switch a:hover{
	color:#6F6F97;
}
#switch a:active{
	opacity:0.3;
}
#form{
	padding:5px;
	margin:5px;
}
#formGroups{
	padding:5px;
	margin:5px;
}
label {
	display:block;
	margin:5px;
	width:80px;
}
input[type="text"], input[type="number"]{
	width: 350px;
	height: 20px;
}
h2{
	padding:5px;
	margin:5px;
}
td{
	text-align:center;
	padding:5px;
	
}
.tasks{
	display: none;
}
#Task{
	width:10%;
	padding:5px;
	border-right:1px solid #333;
}
#Priority{
	width:15%;
	border-right:1px solid #333;
	padding:5px;
}
#Date{
	width:15%;
	border-right:1px solid #333;
	padding:5px;
}
#Time{
	width:15%;
	border-right:1px solid #333;
	padding:5px;
}